<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        <title>Amigo Secreto</title>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">


    </head>
    <body>
        <section>
            <div class="all p-5">
                <div class="row">
                    <div class="col-12 w-25 p-3 border">Amigo secreto</div>
                </div>
              </div>
              <div class="addFriend">
                    <!-- <form method="POST" action="/"> -->
                       <!--  <input type="hidden" name="_token" value="{{ csrf_token() }}"> -->
                       <!-- @csrf -->
                        <div class="row m-3">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="pTitle">Nome</label>
                                            <input #pName type="text" name="pName" class="form-control required" placeholder="Nome" value="">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="col-8 form-group">
                                            <label for="pTitle">Email</label>
                                            <input #pEmail type="text" name="pEmail" class="form-control required" placeholder="Email" value="">
                                        </div>
                                    </div>
                                    <div class="col-2"> 
                                        <button (click)="save(pName.value, pEmail.value)" class="btn btn-success font-16">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
                <div class="listFriends">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <div class="row"> -->
                                <!-- <div class="col-12"> -->
                                    <tr *ngFor="let role of roles">
                                
                                        <!-- <div class="row"> -->
                                            <td>
                                                <!-- <div class="col-12"> -->
                                                    <input type="text" name="pName" class="form-control required" placeholder="Nome" value="{{role.name}}">
                                                <!-- </div> -->
                                            </td>
                                            <td>
                                                <!-- <div class="col-12"> -->
                                                        <input type="text" name="pEmail" class="form-control required" placeholder="Email" value="{{role.email}}">
                                                <!-- </div> -->
                                            </td>
                                            <td>
                                                <!-- <div class="col-12">  -->
                                                  <div class="row">
                                                      <div class="col-4">
                                                          <button class="btn btn-success font-16">Salvar</button>
                                                      </div>
                                                      <div class="col-4"> 
                                                          <button class="btn btn-primary font-16">Alterar</button>
                                                      </div>
                                                      <div class="col-4">
                                                          <button (click)="delete(role._id)"  [attr.data-id] = role._id class="btn btn-danger font-16">Excluir</button>
                                                      </div>
                                                    </div>
                                                <!-- </div> -->
                                            </td>
                                        <!-- </div> -->
                                    </tr>
                                <!-- </div> -->
                            <!-- </div> -->
                        </tbody>
                    </table>
                </div>
        </section>
    </body>
</html>